/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.eleven-labs-modal {
    padding: 1rem;
}

.eleven-labs-text-area {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.eleven-labs-text-area textarea {
    width: 100%;
    height: 150px;
}

.eleven-labs-model-select {
    margin-top: 1rem;
}

.btn-generate-audio {
    margin-top: 1rem;
    width: 100%;
}

.dropdown {
    width: 100% !important;
}

.slider {
    width: 100% !important;
    margin-bottom: 1rem;
}
.slider[disabled] {
    opacity: 0.2;
}

.enable {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.enable input[type="checkbox"] {
    margin-left: 0.5rem;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.char-count {
    font-size: 0.8rem;
    opacity: 0.5;
    margin-top: 0.5rem;
}

.voice-settings h6 {
    display: inline-block;
}

.voice-settings .checkbox-container {
    display: inline-block;
    margin-left: 1rem;
    vertical-align: middle;
}

.voice-settings-description {
    margin-bottom: 1rem;
}

.chips-container {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 8px; /* Adjust the gap between chips */
}

.language-chip {
    padding: 5px 10px;
    border: 1px white solid;
    font-size: 0.7rem;
    border-radius: 16px; /* This gives the chips their rounded shape */
    outline: none; /* Removes the outline to make it look better */
}
